{% extends "base.html" %}

{% block title %}
Networks
{% endblock %}

{% block content %}

{% with messages =
    get_flashed_messages(with_categories=true)
%}

{% if messages %}
    {% for category, message in messages %}
        <div class="flash {{ category }}">
            {{ message }}
        </div>
    {% endfor %}
{% endif %}

{% endwith %}

<div class="cards-row">
	<div class="card">

		<h1>Create Network</h1>

		<form method="POST" id="create-network-form">

			<label>
				Repertoire
			</label>

			<select
				name="repertoire_id"
				required>

				<option value="">
					-- Select repertoire --
				</option>

				{% for rep in repertoires %}

				<option
					value="{{ rep.repertoire_id }}">

					{{ rep.name }}

				</option>

				{% endfor %}

			</select>

			<button type="submit">
				Create Network
			</button>

		</form>

		<div
			id="loading"
			style="display:none; margin-top:15px;"
		>
			<div class="spinner"></div>
			Creating network...
		</div>

	</div>
	<div class="card">
		<h1>Network</h1>

		{% if selected_network %}

			<img
				src="{{ url_for(
					'networks.network_image',
					network_id=selected_network.network_id
				) }}"
				style="width:100%; height:auto;"
			>

		{% else %}

			<p>Select a network to view it.</p>

		{% endif %}
	</div>
</div>

<div class="card">

    <h2>Networks</h2>

	<form method="GET" action="{{ url_for('networks.index') }}">
    
		<input
			type="text"
			name="q"
			placeholder="Search by network id..."
			value="{{ request.args.get('q', '') }}"
		>

		<button type="submit">
			Search
		</button>

	</form>

    <table>

        <thead>
            <tr>
                <th>Network id</th>
                <th>Source repertoire</th>
                <th>Algorithm</th>
				<th>Distance function</th>
				<th>Parameters</th>
				<th>Action</th>
            </tr>
        </thead>

        <tbody>

        {% for net in networks %}

            <tr>

                <td>
                    <a href="{{ url_for(
						'networks.view_network',
						network_id=net.network_id
					) }}">
						{{ net.network_id }}
					</a> 
                </td>

                <td>{{ net.source_repertoire.name }}</td>

				<td>{{ net.algorithm }}</td>
				<td>{{ net.distance_function }}</td>
				<td>{{ net.network_algorithm_parameters }}</td>

				<td>

					<form
						method="POST"
						action="{{ url_for(
							'networks.delete',
							network_id=net.network_id
						) }}"
						style="display:inline;"
					>

						<button
							type="submit"
							onclick="return confirm('Delete dataset?')"
							style="
								background-color: darkred;
								color: white;
							"
						>
							Delete
						</button>

					</form>

				</td>

            </tr>

        {% endfor %}

        </tbody>

    </table>

</div>

<script>

document
    .getElementById("create-network-form")
    .addEventListener(
        "submit",
        function() {

            document
                .getElementById("loading")
                .style.display = "block";

        }
    );

</script>

{% endblock %}
