{% extends "base.html" %}

{% block content %}

<div class="card">

<h1>Build Network</h1>

<form method="POST">

    <label>Dataset</label>

    <select name="dataset_id">

        {% for ds in datasets %}
        <option value="{{ ds.id }}">
            {{ ds.name }}
        </option>
        {% endfor %}

    </select>

    <br>

    <label>Threshold</label>

    <input
        type="number"
        step="0.01"
        name="threshold">

    <br>

    <button type="submit">
        Build
    </button>

</form>

</div>

{% endblock %}
